body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-color: rgb(241, 220, 220);
}
header{
    background-color: rgb(172, 133, 194);
    color: white;
    text-align: center;
    padding: 20px 0;


}
.title::after{
    content: "";
    display: block;
    width: 111px;
    height: 5px;
    background-color: #c5ac9b;
    margin: 10px auto 0;

}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu li{
    display: inline-block;
    margin: 0 6px;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border: 3px solid transparent;
}
.menu li a:hover{
    border-color: rgb(140, 221, 74);
    border-radius: 4px;
}

#home{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px;
    text-align: center;

}

#about{
    text-align: center;
}
#about::before{
    content: 0 ;


}

.skills{
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.skills li{
    margin: 5px 0;
    padding: 4px;
    border: 2px solid #ddd;
    border-radius: 4px;
    text-align: center;
    width: 150px;
    margin: 0 auto;
}
.skills li:nth-child(odd){
    background-color: rgb(238, 228, 216);
}
.skills li:nth-child(even){
    background-color: rgb(231, 198, 157);
}
.skills li:nth-child(6){
    background-color: rgb(189, 166, 224);
    font-weight: bold;
}
#contact{
    padding: 20px;
    text-align: center;
}
form{
    display: inline-block;
    text-align: center;
    background-color: rgb(221, 206, 206);
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
input{
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 60px;
}
.input:focus{
    border-color: rgb(179, 160, 201);
    background-color: #d7dce0;
    outline: none;
}
button{
    background-color:#926b4f;
    color: #ddd;
    padding: 10px 20px ;
    cursor: pointer;
    border: none;
    border-radius: 10px;

}

footer{
    background-color: #9c8e84;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#singup{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px;
    text-align: center;

}
#singin{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px;
    text-align: center;

}