/***{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}**/

.box{
    width: 200px;
    height: 100px;
    border: 2px solid;
    background-color: blueviolet;
   overflow-y: scroll;

}