.Container {
    width: 200px;
    background-color: blueviolet;
    position: relative;
    padding: 20px;
    top: 400px;
}
.possition {
   display: black;
   position: absolute;
   width: 200px;
   left: 200px;
   right: 0px;
   background-color: brown;
   top: -50px;
  

}