

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

h1{
    font-family: 'Montserrat', Times, serif;
    font-size: 2rem;
    font-weight: bolder;
    background-color: blueviolet;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 10px;
    -ms-text-autospace: ideograph-numeric;
}