body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header{
background-color: #333;
color: white;
text-align: center;
padding: 20px 0;
}
/* imisa shaqaynaayo liidka ka hoos marin lahaa after ima shaqaynaayo */

.title1 ::after{
  content: "";
  display: block;
  width: 500px;
  height: 4px;
  background-color: #ff6600;
  margin: 10px auto 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
   
}

.menu li{
 display: inline-block;
 margin: 0 10px;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border: 2px solid transparent;

}

/* ima shaqaynaayo border redius si aan u saxo borderka coloka */
.menu li a :hover{
    border-color: #ff6600;
   border-radius: 4%;
}

#About{
    text-align: center;
    padding: 20px;

}
/* EMOJIN ASAGA IMA SHAQAYNAAYO MARKA WAXA IKA WADA QADANA DHAMMAN */
#About ::before{
    content: "😎";
}

.skills{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    
}
.skills li{
    margin: 5px 0;
    margin:  5px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    text-align:center;
    width: 150px;
    margin:0 auto;
}

.skills li :nth-child(odd){
  background-color: #ffefd5
  
}

.skills li :nth-child(even){
  background-color: #ffefd5;

}
.skills li :nth-child(3){
  font-weight: bold;
  color: #ff6600;

}
 
#Contact{
    padding: 20px;
    text-align: center;
}


form {
    display: inline-block;
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border: 1px solid #add;
    border-radius:10px;
}
.input{
    display: block;
    width:100%;
    margin:10px;
    padding:10px;
    border: 1px solid #add;
    border-radius: 4px;

}

.input{
    display: block;
    width:100%;
    margin:10px; 
    padding:10px;
    border-radius: 4px;

}

.input{
    border-color: #ff6600;
    outline: none;

}

button{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;


}
footer{
    background-color: #333;
    width:100%;
    color: white;
    text-align: center;
    padding: 20px 0;
}